<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="1" name="LoanWithdraw">
    <classes>
      <class name="qa.demo.Selenium.GoogleTesting">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
